@font-face {
  font-family: "AlterraDisplay-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("AlterraDisplay-Regular"),
    url("../fonts/AlterraDisplay-Regular.otf");
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro 45 Light";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Haas Grotesk Display Pro 45 Light"),
    url("../fonts/NeueHaasDisplayLight.woff");
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro 55 Roman";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Haas Grotesk Display Pro 55 Roman"),
    url("../fonts/NeueHaasDisplayRoman.woff");
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro 75 Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Haas Grotesk Display Pro 75 Bold"),
    url("../fonts/NeueHaasDisplayBold.woff");
}

