// Theme ../font family variables
$DIGITAL: "AlterraDisplay-Regular";

$BOLD: "Neue Haas Grotesk Display Pro 75 Bold";
$LIGHT: "Neue Haas Grotesk Display Pro 45 Light";
$ROMAN: "Neue Haas Grotesk Display Pro 55 Roman";
