.explorer {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  @media (max-width: 1024px) {
    display: block;
    height: 100vh;
    overflow: hidden;
  }

  .node-status-pannel{
    position: absolute;
    width: 400px;
    z-index: 1;
    height: 100%;
  }
}
